body {
    font-family: sans-serif;
    background-color: rgba(155, 147, 147, 0.2);
}

.inline {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 20%;
    text-align: center;
    margin-left: 30px;
    border-radius: 20px;
}

.box-1-left {
    display: flex;
    flex-direction: column;
}

.box-1-left .avt-left img {
    border-radius: 20%;
    margin-top: 30px;
}

.box-1-left .text-left h4 {
    color: rgb(111, 111, 126);
    font-size: 1.5rem;
}

.box-1-left .text-left h4 span {
    font-weight: 800;
}

.box-1-left .text-left h6 {
    background-color: rgba(136, 136, 136, 0.1);
    color: rgba(153, 145, 145, 1.9);
    border-radius: 20px;
    width: 40%;
    margin: auto;
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 0.7rem;
}

.box-1-left .icon {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    padding: 10px;
    margin-bottom: 30px;
}

.box-1-left .icon .icon-link {
    display: block;
    position: relative;
    padding: 20px;
    margin-left: 10px;
}

.box-1-left .icon a img:nth-child(1){
    position: absolute;
    left: 4px;
}

.box-1-left .icon a img:nth-child(2){
    position: absolute;
    left: 4px;
}

.box-1-left .icon a img:nth-child(3){
    position: absolute;
    left: 4px;
}

.box-2-left {
    display: flex;
    flex-direction: column;
    background-color: rgba(132, 182, 197, 0.1);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.box-2-left .content .list{
    list-style: none;
    text-align: left;
    width: 45%;
    margin: 0 auto;
    margin-top: 20px;
    color: #888;
    font-size: 0.9rem;
    line-height: 30px;
}

.box-2-left .content .list li {
    position : relative;
}

.box-2-left .content .list li:nth-child(1)::before{
    content: url('../img/icon/calendar.svg');
    position: absolute;
    left: -30%;
}

.box-2-left .content .list li:nth-child(2)::before{
    content: url('../img/icon/place-localizer.svg');
    position: absolute;
    left: -30%;
}

.box-2-left .content .list li:nth-child(3)::before{
    content: url('../img/icon/mail.svg');
    position: absolute;
    left: -30%;
}

.box-2-left .content .list li:nth-child(4)::before{
    content: url('../img/icon/icon-app.svg');
    position: absolute;
    left: -30%;
}

.box-2-left .content .list li:nth-child(5)::before{
    content: url('../img/icon/skype.svg');
    position: absolute;
    left: -30%;
}

.box-2-left .button-left{
    background: rgb(0,129,255);
    background: linear-gradient(90deg, rgba(0,129,255,1) 0%, rgba(0,69,255,1) 94%);
    width: 50%;
    border-radius: 20px;
    margin: 0 auto;
    margin-bottom: 20px;
    padding-top: 8px;
    padding: 10px 0;
    margin-top: 20px;
    position: relative;
}
.box-2-left .button-left a {
    display: block ;
    font-size: 0.7rem;
    color: white;
    word-spacing: 3px;
    letter-spacing: 1px;
    font-weight: 700 ; 
    text-decoration: none;
    width: 100%;
    height: 100%;
}

.box-2-left .button-left a::before {
    content: url('../img/icon/download.svg');
    position: absolute;
    left: 4%;
}


